*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 1910px;
    height: 910px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    border: thin solid black;
    margin-top: 3px;
    position: relative;
    
}
.sidebar
{
    width: 600px;
   /* background: chocolate;*/
   display: flex;
   justify-content: center;
   align-items: center;

}
.sidebar2
{
    width: 1308px;
    background:#00a86d;
    display: flex;
    justify-content: space-around;
   
}
.nav
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*margin-top: 40px;*/
  background-color: #fcc777;
  height: 80px;
  width: 100%;
}
.nav a 
{
    color: #012d3a;
   text-decoration: none;
   font-weight: bold;
   font-size: large;
   letter-spacing: 5px;
}
section
{
 
  height: 800px;
  width: 600px;
  margin-top: 90px;
  margin-left: -90px;
  position: absolute;
  border: thin solid black;
  
}
form
{
    padding: 15px 15px 40px 15px;   
    
}
label
{
    display: block;
  
}
input
{
   padding: 8px;
   width: 100%;
   margin: 4px 0px;
}
input[type=submit]
{
    width: 100px;
    margin-left: 220px;
    border-radius: 8px;

}
input[type=radio]
{
    margin-left: -280px;

}



